{% extends 'base.html.twig' %}

{% block title %} Votre panier {% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset("assets/css/panier.css") }}">

{% endblock %}

{% block body %}


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Vos articles</th>
            <th scope="col">Nom</th>
            <th scope="col">Prix</th>
            <th scope="col">Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
{% set total = 0 %}
{% for ligne in lignes %}

    {% set prixArticle = (ligne.article.prix * tva)  * ligne.quantity %}
    {% set total = total + prixArticle %}
        <tr>
            <td>
                <div class="images">
                    <img src="{{ ligne.article.image }}" alt="" class="img"  style="height: 50%; width: 50%;">
                </div>
            </td>
            <td>
                <div class="nom">
                    <p>{{ ligne.article.title }}</p>
                </div>
            </td>
            <td>
                <div>
                    <h1>{{ prixArticle }} euros TTC</h1>
                </div>            
            </td>
            <td>
                <div>
                <div class="quantity">
                {% if ligne.quantity > 1 %}
                   <button class="removeone" name="{{ ligne.article.id }}"> - </button> 
                {% endif %}   
                   <p> {{ ligne.quantity }} </p>
                   <button class="addone" name="{{ ligne.article.id }}"> + </button> 
                </div>
                    
              
                </div>
            </td>
            <td>
                <div>
                    <button class="deletePanier" name="{{ ligne.id }}">X</button>
                </div>
            </td>



{% endfor %}
    </tbody>
</table>
{% if lignes is empty %}
<h1>panier vide</h1>
{% else %}

{% set totalTTC = total  %}
<h1>total ttc {{ totalTTC }} euros</h1>

<a href="{{ path('commander', {valid: 1}) }}"><button class="btn btn-primary commander" type="submit">Commander</button></a>
{% endif %}

{% endblock %}

{% block javascript %}
<script>
    $(document).ready( function() {

        //FUNCTION AJAX POUR SUPPRIMER UNE LIGNE DU PANIER
        function reqAjax(id){
            $.ajax({
                async: true,
                type: 'POST',
                url: "{{ path('delete') }}",
                data: {'id': id},
                success: function (data) {
                    if(data == "1"){
                        {# alert('Article supprimé du panier !'); #}
                        location.reload();
                        return;
                    } else {
                        alert('Il y a eu un problème ! -> '+data);
                        return;
                    }
                },
                complete : function(){
                    // do
                }
            });
        }
        //boutton de suppression
        $('.deletePanier').click(function(){
            var id = $(this).attr('name');
            reqAjax(id);
        });
    // fonction ajax pour ajouter 1 article en plus dans une ligne du panier
    function reqAjaxAdd(id){
        var myurl = "{{ path('ajouter_panier', {'id': 'this_id'}) }}";
        var myurl = myurl.replace("this_id", id);

        $.ajax({
            async: true,
            type: 'POST',
            url: myurl,
            //data: {'id': id},
            success: function (data) {
                if(data == "1"){
                    {# alert('Article ajouté au panier !'); #}
                     location.reload();
                    return;

                } else {
                    alert('Il y a eu un problème ! -> '+data);
                    return;
                }
            },
            complete : function(){
                // do
            }
        });
    }
    //boutton pour ajouter 1 article 
    $('.addone').click(function(){
        var id = $(this).attr('name');
        reqAjaxAdd(id);
    });

       // fonction ajax pour retirer 1 article en moins dans une ligne du panier
    function reqAjaxRemove(id){
        var myurl = "{{ path('remove_one', {'id': 'this_id'}) }}";
        var myurl = myurl.replace("this_id", id);

        $.ajax({
            async: true,
            type: 'POST',
            url: myurl,
            //data: {'id': id},
            success: function (data) {
                if(data == "1"){
                    {# alert('Article retirer du panier !'); #}
                     location.reload();
                    return;

                } else {
                    alert('Il y a eu un problème ! -> '+data);
                    return;
                }
            },
            complete : function(){
                // do
            }
        });
    }
    //boutton pour retirer 1 article 
    $('.removeone').click(function(){
        var id = $(this).attr('name');
        reqAjaxRemove(id);
    });

});


        
</script>

{% endblock %}


