{% extends 'base.html.twig' %}

{% block title %} Votre panier {% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset("assets/css/panier.css") }}">

{% endblock %}

{% block body %}


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Vos articles</th>
            <th scope="col">Nom</th>
            <th scope="col">Prix</th>
            <th scope="col">Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
{% set total = 0 %}
{% for article in thisCart %}

    {% set total = total + article.prix + (article.prix * tva) %}
        <tr>
            <td>
                <div class="images">
                    <img src="{{ article.image }}" alt="" class="img"  style="height: 50%; width: 50%;">
                </div>
            </td>
            <td>
                <div class="nom">
                    <p>{{ article.title }}</p>
                </div>
            </td>
            <td>
                <div>
                    <h1>{{ article.prix + (article.prix * tva) }} euros TTC</h1>
                </div>            
            </td>
            <td>
                <div>
                
                   <input type="text" placeholder="1">
              
                </div>
            </td>
            <td>
                <div>
                    <button id="deletePanier" name="{{ article.id }}">X</button>
                </div>
            </td>



{% endfor %}
    </tbody>
</table>
{% if thisCart is empty %}
<h1>panier vide</h1>
{% else %}

{% set totalTTC = total  %}
<h1>total ttc {{ totalTTC }} euros</h1>

<a href="{{ path('commander') }}"><button class="btn btn-primary commander" type="submit">Commander</button></a>
{% endif %}

{% endblock %}

{% block javascript %}
<script>
    $(document).ready( function() {

        //FUNCTION AJAX
        function reqAjax(id){
            $.ajax({
                async: true,
                type: 'POST',
                url: "{{ path('delete') }}",
                data: {'id': id},
                success: function (data) {
                    if(data == "1"){
                        alert('Article supprimé du panier !');
                        location.reload();
                        return;
                    } else {
                        alert('Il y a eu un problème ! -> '+data);
                        return;
                    }
                },
                complete : function(){
                    // do
                }
            });
        }
        $('#deletePanier').click(function(){
            var id = $(this).attr('name');
            reqAjax(id);
        });
    });
</script>

{% endblock %}


