{% extends 'base.html.twig' %}

{% block title %}MassCrab {{ controller_name }}{% endblock %}


{% block body %}
{% if not app.user %}
    <section class="generic-banner relative">
        <div class="container">
            <div class="row height align-items-center justify-content-center">
                <div class="col-lg-10">
                    <div class="generic-banner-content">
                        <h1>Inscrivez vous</h1>
                    </div>
                    {{form(form)}}
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
{% else %}
<h1>Page Introuvable</h1>
{% endif %}
<!-- About Generic Start -->
<div class="main-wrapper">

    <!-- Start Generic Area -->
    <section class="about-generic-area section-gap">

            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="container alert alert-success" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('info') %}
                <div class="container alert alert-info" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('warning') %}
                <div class="container alert alert-warning" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('danger') %}
                <div class="container alert alert-danger" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}

    </section>
    <!-- End Generic Start -->
{% endblock %}
